extends ../layout

block content
    h1 Usuarios
    table(class="table table-striped", id="users") 
        thead 
          th Nombre 
          th Email 
          th Rol
          th Avatar
          if auth && auth.role == "admin"
            th Acciones
        tbody 
          each user in users 
            tr 
              td= user.username 
              td= user.email 
              td= user.role
              td
                if user.avatar
                    img(src=`${user.avatar}`, alt="avatar", class="avatar")
                else
                    img(src="/img/default-avatar.jpg", alt="avatar", class="avatar")
              td 
                if auth && auth.role == "admin"
                    section(class="actions")
                    form(action=`/users/user/edit/${user._id}`, method="get")
                        input(type="submit",class="btn edit", value="Editar")
                    form(action=`/users/user/delete/${user._id}`, method="post")
                        input(type="submit",class="btn", value="Eliminar")
              
    